<main class="container">
    <h1>{{category}}</h1>
    
    
    {{#if message}}
        <p class="message">{{message}}</p>
    {{else}}
        <div class="events-list">
            {{#each events}}
                <div class="event-card">
                    <h2>{{this.title}}</h2>
                    <p><strong>Date :</strong> {{this.date}}</p>
                    <p><strong>Lieu :</strong> {{this.location}}</p>
                    <p ><strong>Description :</strong > {{this.description}}</p>
                    {{#if this.image_url}}
                        <img src="{{this.image_url}}" alt="Image de l'événement">
                    {{/if}}
                </div>
            {{/each}}
        </div>
    {{/if}}
    <a href="/" class="retour">retour</a>
</main>
