<div class="principal">
  <div class="container">
    <h1>Créer un Nouvel Événement</h1>
    <p class="subtitle">Remplissez le formulaire pour partager votre événement</p>
    <form id="formEvenement" enctype="multipart/form-data">

      <div class="form-group">
        <label for="title">Nom de l'Événement :</label>
        <input type="text" id="title" name="title" value="{{event.title}}" required />
      </div>

      <div class="form-group">
        <label for="date">Date et Heure :</label>
        <input type="datetime-local" id="date" name="date" value="{{event.date}}" required />
      </div>

      <div class="form-group">
        <label for="location">Localisation :</label>
        <input type="text" id="location" name="location" value="{{event.location}}" required />
      </div>

      <div class="form-group">
        <label for="description">Description :</label>
        <textarea id="description" name="description" required>{{event.description}}</textarea>
      </div>

      <div class="form-group">
        <label for="photo">Choisir une Photo :</label>
        <input type="file" id="photo" name="image" accept="image/*" />
      </div>

      <div class="form-group">
        <label for="category">Catégorie d'événement :</label>
     <select id="category" name="category" required>
    <option value="">-- Sélectionnez une catégorie --</option>
    <option value="conférence" {{#if (eq event.category "conférence")}}selected{{/if}}>conférence</option>
    <option value="atelier" {{#if (eq event.category "atelier")}}selected{{/if}}>atelier</option>
    <option value="sport" {{#if (eq event.category "sport")}}selected{{/if}}>sport</option>
    <option value="culture" {{#if (eq event.category "culture")}}selected{{/if}}>culture</option>
    <option value="autre" {{#if (eq event.category "autre")}}selected{{/if}}>autre</option>
</select>


      <div class="form-group">
        <label for="organizer_id">ID de l'Organisateur :</label>
        <input type="number" id="organizer_id" name="organizer_id" value="{{event.organizer_id}}" required />
      </div>

      <div id="error-message" style="color: red; margin-top: 10px;"></div>
      <button type="submit" class="btn">Publier Événement</button>

    </form>
  </div>
</div>
